@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao TravelLog</h1>
    <p>Compartilhe as suas fotos de viagens e inspire outras pessoas a explorar o mundo!</p>
</div>

<div class="container mt-4">
    <h2>Fotos Recentes</h2>
    <div class="row">
        <!-- Viagem a Malta -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/e5/e9/e5/caption.jpg?w=2400&h=1000&s=1" height="250" weigth="100" alt="Foto de Malta">
                <div class="card-body">
                    <p class="card-text">Descubra as águas cristalinas e a rica história de Malta.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Março 2024</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Viagem a Roma -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="https://s5.static.brasilescola.uol.com.br/be/2023/11/nascer-do-sol-nas-proximidades-do-coliseu-um-dos-principais-simbolos-historicos-e-culturais-de-roma-capital-da-italia.jpg" height="250" weigth="100" alt="Foto de Roma">
                <div class="card-body">
                    <p class="card-text">Explore as antigas ruínas e a vibrante cultura de Roma.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Abril 2024</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Viagem a Lisboa -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW8TBkeq5eJp8KDa6qXJDAYvjBUWRAZsjdrw&s" height="250" weigth="100" alt="Foto de Lisboa">
                <div class="card-body">
                    <p class="card-text">Desfrute da encantadora arquitetura e da deliciosa gastronomia de Lisboa.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Maio 2024</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
