@{
    ViewData["Title"] = "Políticas de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>A sua privacidade é importante para nós. No TravelLog, estamos comprometidos em proteger as informações pessoais que você compartilha conosco. Nós não compartilharemos as suas informações pessoais com terceiros sem o seu consentimento explícito. As fotos e dados que você enviar para o nosso site serão utilizados exclusivamente para melhorar a experiência do usuário e promover a interação entre os amantes de viagens. Se tiver alguma dúvida sobre as nossas políticas de privacidade, por favor, entre em contato conosco.</p>
